In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [3]:
ballotpedia = pd.read_csv('ballotpedia_population_info.csv')
citymayors = pd.read_csv('population_info_citymayors.csv')
weatherdata= pd.read_csv('WeatherData.csv')
wpr = pd.read_csv('worldpopulationreview.csv')

In [4]:
ballotpedia.head()

,Rank,City,Population (2013),Budget,Mayor,Took office,Term ends,Government type,City elections in 2021?,Mayoral election in 2021?
0,1,"New York, New York",8405837,"$73,000,000,000",Bill de Blasio (D),2014,2022,Strong mayor,Yes,Yes
1,2,"Los Angeles, California",3884307,"$8,100,000,000",Eric Garcetti (D),2013,2022,Strong mayor,No,No
2,3,"Chicago, Illinois",2718782,"$7,300,000,000",Lori Lightfoot (D),2019,2023,Strong mayor,No,No
3,4,"Houston, Texas",2195914,"$5,100,000,000",Sylvester Turner (D),2016,2024,Strong mayor,No,No
4,5,"Philadelphia, Pennsylvania",1553165,"$3,950,000,000",James Kenney (D),2016,2024,Strong mayor,Yes,No

In [5]:
citymayors.head()

,Rank,City; State,2010 population,2012 population,Growth / Decline
0,1,New York City; New York,8175133,8336697,161564
1,2,Los Angeles; California,3792621,3857799,65178
2,3,Chicago; Illinois,2695598,2714856,19258
3,4,Houston; Texas,2099451,2160821,61370
4,5,Philadelphia; Pennsylvania,1526006,1547607,21601

In [6]:
weatherdata.head()

                City   Jan  April  July  Oct   Precip “  precip days snowfall
0       Albany, N.Y.  22.2   46.6  71.1  49.3     38.60          136     64.4
1  Albuquerque, N.M.  35.7   55.6  78.5  57.3      9.47           60       11
2  Anchorage, Alaska  15.8   36.3  58.4  34.1     16.08          115     70.8
3    Asheville, N.C.  35.8   54.1  73.0  55.2     47.07          126     15.3
4       Atlanta, Ga.  42.7   61.6  80.0  62.8     50.20          115      2.1

In [7]:
wpr.head()

   rank           name usps  pop2021  pop2010  growth  density  aland_sqmi
0     1  New York City   NY  8230290  8190210  0.0049    27400     300.381
1     2    Los Angeles   CA  3983540  3795510  0.0495     8494     468.956
2     3        Chicago   IL  2679080  2697480 -0.0068    11783     227.369
3     4        Houston   TX  2323660  2100280  0.1064     3630     640.194
4     5        Phoenix   AZ  1733630  1449040  0.1964     3349     517.673

In [8]:
wpr.shape

(200, 8)

In [9]:
def remove_state(name):
    chars = []
    for char in name:
        if char == ',' or char == ';': break
        chars.append(char)
    return ''.join(chars).replace('New York City', 'New York')

In [10]:
ballotpedia['City'] = [remove_state(city) for city in ballotpedia['City']]
citymayors['City; State'] = [remove_state(city) for city in citymayors['City; State']]
weatherdata['City'] = [remove_state(city) for city in weatherdata['City']]
wpr['name'] = [remove_state(city) for city in wpr['name']]

ballotpedia.rename({'City' : 'city'}, inplace = True, axis = 1,)
citymayors.rename({'City; State': 'city'}, inplace = True, axis = 1,) 
weatherdata.rename({'City':'city'}, inplace = True, axis = 1,)
wpr.rename({'name':'city'}, axis = 1, inplace = True)

In [11]:
ballotpedia.city

0           New York
1        Los Angeles
2            Chicago
3            Houston
4       Philadelphia
           ...
95           Fremont
96             Boise
97    San Bernardino
98        Birmingham
99          Richmond
Name: city, Length: 100, dtype: object

In [12]:
df = pd.merge(weatherdata, wpr, on = 'city', how = 'left')
df = pd.merge(df, citymayors, on = 'city', how = 'left')
df = pd.merge(df, ballotpedia, on = 'city', how = 'left')
df.shape

(103, 28)

In [13]:
df.head()

,city,Jan,April,July,Oct,Precip “,precip days,snowfall,rank,usps,...,Growth / Decline,Rank_y,Population (2013),Budget,Mayor,Took office,Term ends,Government type,City elections in 2021?,Mayoral election in 2021?
0,Albany,22.2,46.6,71.1,49.3,38.60,136,64.4,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Albuquerque,35.7,55.6,78.5,57.3,9.47,60,11,32.0,NM,...,9565.0,32.0,556495.0,"$893,000,000",Tim Keller (D),2017.0,2022.0,Strong mayor,Yes,Yes
2,Anchorage,15.8,36.3,58.4,34.1,16.08,115,70.8,74.0,AK,...,NaN,62.0,300950.0,"$471,000,000",David Bronson (R),2021.0,2024.0,Hybrid,Yes,Yes
3,Asheville,35.8,54.1,73.0,55.2,47.07,126,15.3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Atlanta,42.7,61.6,80.0,62.8,50.20,115,2.1,37.0,GA,...,23772.0,40.0,447841.0,"$533,000,000",Keisha Bottoms (D),2018.0,2022.0,Strong mayor,Yes,Yes

In [14]:
df = df.drop(columns = ['Rank_x'])

In [15]:
df.to_csv('city_data.csv', index = False)

In [16]:
df.isnull().sum()

city                          0
Jan                           0
April                         0
July                          0
Oct                           0
Precip “                      0
precip days                   0
snowfall                      0
rank                         30
usps                         30
pop2021                      30
pop2010                      30
growth                       30
density                      30
aland_sqmi                   30
2010 population              52
2012 population              52
Growth / Decline             52
Rank_y                       45
Population (2013)            45
Budget                       45
Mayor                        45
Took office                  45
Term ends                    45
Government type              45
City elections in 2021?      45
Mayoral election in 2021?    45
dtype: int64

In [17]:
df.city

0           Albany
1      Albuquerque
2        Anchorage
3        Asheville
4          Atlanta
          ...
98           Tulsa
99      Vero Beach
100     Washington
101        Wichita
102     Wilmington
Name: city, Length: 103, dtype: object

In [18]:
df2=df.dropna()

In [22]:
df2.head()

,city,Jan,April,July,Oct,Precip “,precip days,snowfall,rank,usps,...,Growth / Decline,Rank_y,Population (2013),Budget,Mayor,Took office,Term ends,Government type,City elections in 2021?,Mayoral election in 2021?
1,Albuquerque,35.7,55.6,78.5,57.3,9.47,60,11,32.0,NM,...,9565.0,32.0,556495.0,"$893,000,000",Tim Keller (D),2017.0,2022.0,Strong mayor,Yes,Yes
4,Atlanta,42.7,61.6,80.0,62.8,50.20,115,2.1,37.0,GA,...,23772.0,40.0,447841.0,"$533,000,000",Keisha Bottoms (D),2018.0,2022.0,Strong mayor,Yes,Yes
6,Austin,50.2,68.3,84.2,70.6,33.65,85,0.9,10.0,TX,...,52202.0,12.0,885400.0,"$3,500,000,000",Stephen Adler (D),2015.0,2023.0,Strong mayor,No,No
7,Baltimore,32.3,53.2,76.5,55.4,41.94,115,21.5,31.0,MD,...,381.0,26.0,622104.0,"$1,648,000,000",Brandon M. Scott (D),2020.0,2024.0,Strong mayor,No,No
8,Baton Rouge,50.1,66.6,81.7,68.1,63.08,110,0.2,108.0,LA,...,565.0,92.0,229426.0,"$830,000,000",Sharon Weston Broome (D),2017.0,2024.0,Strong mayor,Yes,No

In [23]:
df2.columns

Index(['city', 'Jan', 'April', 'July', 'Oct ', 'Precip “', 'precip days',
       'snowfall', 'rank', 'usps', 'pop2021', 'pop2010', 'growth', 'density',
       'aland_sqmi', '2010 population', '2012 population', 'Growth / Decline',
       'Rank_y', 'Population (2013)', 'Budget', 'Mayor', 'Took office',
       'Term ends', 'Government type', 'City elections in 2021?',
       'Mayoral election in 2021?'],
      dtype='object')

In [24]:
df2.city

1        Albuquerque
4            Atlanta
6             Austin
7          Baltimore
8        Baton Rouge
10        Birmingham
12             Boise
13            Boston
15           Buffalo
21         Charlotte
23           Chicago
24         Cleveland
26          Columbus
27          Columbus
30            Denver
32           Detroit
35           El Paso
42          Honolulu
43           Houston
44      Indianapolis
46      Jacksonville
51         Las Vegas
54        Long Beach
55       Los Angeles
57           Madison
58           Memphis
59             Miami
60         Milwaukee
66            Newark
67       New Orleans
68          New York
69           Norfolk
72             Omaha
73      Philadelphia
74           Phoenix
75        Pittsburgh
76          Portland
77          Portland
79           Raleigh
80              Reno
83        Sacramento
85       San Antonio
86         San Diego
87     San Francisco
94         St. Louis
95             Tampa
96            Toledo
97            Tucson
98             Tulsa
101          Wichita
Name: city, dtype: object

In [ ]:
df3 = pd.read_csv('../