In [99]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [100]:
ballotpedia = pd.read_csv('ballotpedia_population_info.csv')
citymayors = pd.read_csv('population_info_citymayors.csv')
weatherdata= pd.read_csv('WeatherData.csv')
wpr = pd.read_csv('worldpopulationreview.csv')

In [101]:
ballotpedia.head()

,Rank,City,Population (2013),Budget,Mayor,Took office,Term ends,Government type,City elections in 2021?,Mayoral election in 2021?
0,1,"New York, New York",8405837,"$73,000,000,000",Bill de Blasio (D),2014,2022,Strong mayor,Yes,Yes
1,2,"Los Angeles, California",3884307,"$8,100,000,000",Eric Garcetti (D),2013,2022,Strong mayor,No,No
2,3,"Chicago, Illinois",2718782,"$7,300,000,000",Lori Lightfoot (D),2019,2023,Strong mayor,No,No
3,4,"Houston, Texas",2195914,"$5,100,000,000",Sylvester Turner (D),2016,2024,Strong mayor,No,No
4,5,"Philadelphia, Pennsylvania",1553165,"$3,950,000,000",James Kenney (D),2016,2024,Strong mayor,Yes,No

In [102]:
citymayors.head()

,Rank,City; State,2010 population,2012 population,Growth / Decline
0,1,New York City; New York,8175133,8336697,161564
1,2,Los Angeles; California,3792621,3857799,65178
2,3,Chicago; Illinois,2695598,2714856,19258
3,4,Houston; Texas,2099451,2160821,61370
4,5,Philadelphia; Pennsylvania,1526006,1547607,21601

In [103]:
weatherdata.head()

                City   Jan  April  July  Oct   Precip “  precip days snowfall
0       Albany, N.Y.  22.2   46.6  71.1  49.3     38.60          136     64.4
1  Albuquerque, N.M.  35.7   55.6  78.5  57.3      9.47           60       11
2  Anchorage, Alaska  15.8   36.3  58.4  34.1     16.08          115     70.8
3    Asheville, N.C.  35.8   54.1  73.0  55.2     47.07          126     15.3
4       Atlanta, Ga.  42.7   61.6  80.0  62.8     50.20          115      2.1

In [104]:
wpr.head()

   rank           name usps  pop2021  pop2010  growth  density  aland_sqmi
0     1  New York City   NY  8230290  8190210  0.0049    27400     300.381
1     2    Los Angeles   CA  3983540  3795510  0.0495     8494     468.956
2     3        Chicago   IL  2679080  2697480 -0.0068    11783     227.369
3     4        Houston   TX  2323660  2100280  0.1064     3630     640.194
4     5        Phoenix   AZ  1733630  1449040  0.1964     3349     517.673

In [105]:
wpr.shape

(200, 8)

In [106]:
def remove_state(name):
    chars = []
    for char in name:
        if char == ',' or char == ';': break
        chars.append(char)
    return ''.join(chars).replace('New York City', 'New York')

In [107]:
ballotpedia['City'] = [remove_state(city) for city in ballotpedia['City']]
citymayors['City; State'] = [remove_state(city) for city in citymayors['City; State']]
weatherdata['City'] = [remove_state(city) for city in weatherdata['City']]
wpr['name'] = [remove_state(city) for city in wpr['name']]

ballotpedia.rename({'City' : 'city'}, inplace = True, axis = 1,)
citymayors.rename({'City; State': 'city'}, inplace = True, axis = 1,) 
weatherdata.rename({'City':'city'}, inplace = True, axis = 1,)
wpr.rename({'name':'city'}, axis = 1, inplace = True)

In [108]:
ballotpedia.city

0           New York
1        Los Angeles
2            Chicago
3            Houston
4       Philadelphia
           ...
95           Fremont
96             Boise
97    San Bernardino
98        Birmingham
99          Richmond
Name: city, Length: 100, dtype: object

In [109]:
df = pd.merge(ballotpedia, wpr, on = 'city', how = 'left')
df = pd.merge(df, citymayors, on = 'city', how = 'left')
df = pd.merge(df, weatherdata, on = 'city', how = 'left')
df.shape

(106, 28)

In [110]:
df.head()

,Rank_x,city,Population (2013),Budget,Mayor,Took office,Term ends,Government type,City elections in 2021?,Mayoral election in 2021?,...,2010 population,2012 population,Growth / Decline,Jan,April,July,Oct,Precip “,precip days,snowfall
0,1,New York,8405837,"$73,000,000,000",Bill de Blasio (D),2014,2022,Strong mayor,Yes,Yes,...,8175133.0,8336697.0,161564.0,32.1,52.5,76.5,56.6,49.69,121.0,28.6
1,2,Los Angeles,3884307,"$8,100,000,000",Eric Garcetti (D),2013,2022,Strong mayor,No,No,...,3792621.0,3857799.0,65178.0,57.1,60.8,69.3,66.9,13.15,35.0,trace
2,3,Chicago,2718782,"$7,300,000,000",Lori Lightfoot (D),2019,2023,Strong mayor,No,No,...,2695598.0,2714856.0,19258.0,22.0,47.8,73.3,52.1,36.27,125.0,38
3,4,Houston,2195914,"$5,100,000,000",Sylvester Turner (D),2016,2024,Strong mayor,No,No,...,2099451.0,2160821.0,61370.0,51.8,68.5,83.6,70.4,47.84,105.0,0.4
4,5,Philadelphia,1553165,"$3,950,000,000",James Kenney (D),2016,2024,Strong mayor,Yes,No,...,1526006.0,1547607.0,21601.0,32.3,53.1,77.6,57.2,42.05,117.0,20.8

In [111]:
df = df.drop(columns = ['Rank_x'])

In [112]:
df.to_csv('city_data.csv', index = False)

In [113]:
df.isnull().sum()

city                          0
Population (2013)             0
Budget                        0
Mayor                         0
Took office                   0
Term ends                     0
Government type               0
City elections in 2021?       0
Mayoral election in 2021?     0
rank                          0
usps                          0
pop2021                       0
pop2010                       0
growth                        0
density                       0
aland_sqmi                    0
Rank_y                       10
2010 population              10
2012 population              10
Growth / Decline             10
Jan                          48
April                        48
July                         48
Oct                          48
Precip “                     48
precip days                  48
snowfall                     48
dtype: int64

In [114]:
df.city

0            New York
1         Los Angeles
2             Chicago
3             Houston
4        Philadelphia
            ...
101           Fremont
102             Boise
103    San Bernardino
104        Birmingham
105          Richmond
Name: city, Length: 106, dtype: object