In [2]:
import pandas as pd

In [3]:
df_2017 = pd.read_csv('raw/ACSST1Y2018.S2503_data_with_overlays_2021-09-19T113041.csv', header=1)

In [4]:
df_2017.shape

(438, 554)

In [5]:
df_2017.head()

,id,Geographic Area Name,Estimate!!Occupied housing units!!Occupied housing units,Margin of Error!!Occupied housing units MOE!!Occupied housing units,"Estimate!!Occupied housing units!!Occupied housing units!!HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2018 INFLATION-ADJUSTED DOLLARS)!!Less than $5,000","Margin of Error!!Occupied housing units MOE!!Occupied housing units!!HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2018 INFLATION-ADJUSTED DOLLARS)!!Less than $5,000","Estimate!!Occupied housing units!!Occupied housing units!!HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2018 INFLATION-ADJUSTED DOLLARS)!!$5,000 to $9,999","Margin of Error!!Occupied housing units MOE!!Occupied housing units!!HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2018 INFLATION-ADJUSTED DOLLARS)!!$5,000 to $9,999","Estimate!!Occupied housing units!!Occupied housing units!!HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2018 INFLATION-ADJUSTED DOLLARS)!!$10,000 to $14,999","Margin of Error!!Occupied housing units MOE!!Occupied housing units!!HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2018 INFLATION-ADJUSTED DOLLARS)!!$10,000 to $14,999",...,"Estimate!!Percent renter-occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS!!$75,000 or more!!Less than 20 percent","Margin of Error!!Percent renter-occupied housing units MOE!!Occupied housing units!!MONTHLY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS!!$75,000 or more!!Less than 20 percent","Estimate!!Percent renter-occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS!!$75,000 or more!!20 to 29 percent","Margin of Error!!Percent renter-occupied housing units MOE!!Occupied housing units!!MONTHLY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS!!$75,000 or more!!20 to 29 percent","Estimate!!Percent renter-occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS!!$75,000 or more!!30 percent or more","Margin of Error!!Percent renter-occupied housing units MOE!!Occupied housing units!!MONTHLY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS!!$75,000 or more!!30 percent or more",Estimate!!Percent renter-occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS!!Zero or negative income,Margin of Error!!Percent renter-occupied housing units MOE!!Occupied housing units!!MONTHLY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS!!Zero or negative income,Estimate!!Percent renter-occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS!!No cash rent,Margin of Error!!Percent renter-occupied housing units MOE!!Occupied housing units!!MONTHLY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS!!No cash rent
0,400C100US00199,"Aberdeen--Bel Air South--Bel Air North, MD Urb...",83218,1867,2052,660,1550,680,2158,764,...,24.7,6.4,9.5,4.4,1.6,1.2,3.0,2.2,5.1,2.4
1,400C100US00280,"Abilene, TX Urbanized Area (2010)",41789,1618,1531,692,1140,472,2890,804,...,15.0,4.5,2.4,1.8,0.0,1.1,1.2,1.3,5.6,3.0
2,400C100US00631,"Aguadilla--Isabela--San Sebastián, PR Urbanize...",100173,3644,16256,1925,13402,1652,14731,2019,...,1.4,1.0,0.0,0.6,0.0,0.6,4.2,1.8,52.2,4.0
3,400C100US00766,"Akron, OH Urbanized Area (2010)",235021,3952,7286,1422,8339,1827,11756,2273,...,12.8,1.8,0.9,0.6,0.1,0.2,1.4,0.8,4.2,1.2
4,400C100US00901,"Albany, GA Urbanized Area (2010)",34489,1950,2733,923,2675,853,2026,790,...,8.7,3.7,0.8,0.9,0.0,1.1,3.6,2.0,7.0,4.2

In [5]:
#df_2017.drop([col for col in df_2017.columns if 'Median' not in col], axis = 1, inplace=True)

In [6]:
word = 'Median'
word2 = 'Margin'
cols_list = [m for m in df_2017.columns if word in m and word2 not in m]

In [7]:
cols_list.insert(0, 'Geographic Area Name')

In [8]:
len(cols_list)

13

In [9]:
cols_list

['Geographic Area Name',
 'Estimate!!Occupied housing units!!Occupied housing units!!HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2018 INFLATION-ADJUSTED DOLLARS)!!Median household income (dollars)',
 'Estimate!!Occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS!!Median (dollars)',
 'Estimate!!Percent occupied housing units!!Occupied housing units!!HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2018 INFLATION-ADJUSTED DOLLARS)!!Median household income (dollars)',
 'Estimate!!Percent occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS!!Median (dollars)',
 'Estimate!!Owner-occupied housing units!!Occupied housing units!!HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2018 INFLATION-ADJUSTED DOLLARS)!!Median household income (dollars)',
 'Estimate!!Owner-occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS!!Median (dollars)',
 'Estimate!!Percent owner-occupied housing units!!Occupied housing units!!HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2018 INFLATION-ADJUSTED DOLLARS)!!Median household income (dollars)',
 'Estimate!!Percent owner-occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS!!Median (dollars)',
 'Estimate!!Renter-occupied housing units!!Occupied housing units!!HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2018 INFLATION-ADJUSTED DOLLARS)!!Median household income (dollars)',
 'Estimate!!Renter-occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS!!Median (dollars)',
 'Estimate!!Percent renter-occupied housing units!!Occupied housing units!!HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2018 INFLATION-ADJUSTED DOLLARS)!!Median household income (dollars)',
 'Estimate!!Percent renter-occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS!!Median (dollars)']

In [25]:
#import re
#clean = []
#for t in cols_list:
#    clean.append(re.sub(r'^.*?Median', '', t))

In [11]:
median_2018_df = df_2017[cols_list]

In [12]:
median_2018_df.rename(columns={
    'Geographic Area Name': 'location',
    'Estimate!!Occupied housing units!!Occupied housing units!!HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2018 INFLATION-ADJUSTED DOLLARS)!!Median household income (dollars)': 'Median household income (dollars)',
    'Estimate!!Occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS!!Median (dollars)': 'Monthly cost',
    'Estimate!!Percent occupied housing units!!Occupied housing units!!HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2018 INFLATION-ADJUSTED DOLLARS)!!Median household income (dollars)': 'Percent occupied income',
    'Estimate!!Percent occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS!!Median (dollars)':'Percent Occupied cost',
    'Estimate!!Owner-occupied housing units!!Occupied housing units!!HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2018 INFLATION-ADJUSTED DOLLARS)!!Median household income (dollars)':'Owner occupied income',
    'Estimate!!Owner-occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS!!Median (dollars)': 'Owner occupied cost',
    'Estimate!!Percent owner-occupied housing units!!Occupied housing units!!HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2018 INFLATION-ADJUSTED DOLLARS)!!Median household income (dollars)':'Percent owner occupied income',
    'Estimate!!Percent owner-occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS!!Median (dollars)':'Percent owner occupied house cost',
    'Estimate!!Renter-occupied housing units!!Occupied housing units!!HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2018 INFLATION-ADJUSTED DOLLARS)!!Median household income (dollars)':'renter occupied income',
    'Estimate!!Renter-occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS!!Median (dollars)': 'renter occupied cost',
    'Estimate!!Percent renter-occupied housing units!!Occupied housing units!!HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2018 INFLATION-ADJUSTED DOLLARS)!!Median household income (dollars)': 'percent renter occupied income',
    'Estimate!!Percent renter-occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS!!Median (dollars)':'percent renter occupied monthly costs'
    
    
    
    
}, inplace=True)

C:\Users\eswan\anaconda3\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [14]:
median_2018_df.head()

,location,Median household income (dollars),Monthly cost,Percent occupied income,Percent Occupied cost,Owner occupied income,Owner occupied cost,Percent owner occupied income,Percent owner occupied house cost,renter occupied income,renter occupied cost,percent renter occupied income,percent renter occupied monthly costs
0,"Aberdeen--Bel Air South--Bel Air North, MD Urb...",86876,1374,86876,1374,98033,1465,98033,1465,49084,1203,49084,1203
1,"Abilene, TX Urbanized Area (2010)",46387,891,46387,891,59643,733,59643,733,35904,941,35904,941
2,"Aguadilla--Isabela--San Sebastián, PR Urbanize...",17234,231,17234,231,23313,182,23313,182,10585,422,10585,422
3,"Akron, OH Urbanized Area (2010)",53755,836,53755,836,72001,896,72001,896,31025,782,31025,782
4,"Albany, GA Urbanized Area (2010)",40667,758,40667,758,53671,793,53671,793,29169,741,29169,741

In [15]:
median_2018_df[['city', 'state']] = median_2018_df['location'].str.split(',', expand=True)

C:\Users\eswan\anaconda3\lib\site-packages\pandas\core\frame.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [16]:
median_2018_df.head()

,location,Median household income (dollars),Monthly cost,Percent occupied income,Percent Occupied cost,Owner occupied income,Owner occupied cost,Percent owner occupied income,Percent owner occupied house cost,renter occupied income,renter occupied cost,percent renter occupied income,percent renter occupied monthly costs,city,state
0,"Aberdeen--Bel Air South--Bel Air North, MD Urb...",86876,1374,86876,1374,98033,1465,98033,1465,49084,1203,49084,1203,Aberdeen--Bel Air South--Bel Air North,MD Urbanized Area (2010)
1,"Abilene, TX Urbanized Area (2010)",46387,891,46387,891,59643,733,59643,733,35904,941,35904,941,Abilene,TX Urbanized Area (2010)
2,"Aguadilla--Isabela--San Sebastián, PR Urbanize...",17234,231,17234,231,23313,182,23313,182,10585,422,10585,422,Aguadilla--Isabela--San Sebastián,PR Urbanized Area (2010)
3,"Akron, OH Urbanized Area (2010)",53755,836,53755,836,72001,896,72001,896,31025,782,31025,782,Akron,OH Urbanized Area (2010)
4,"Albany, GA Urbanized Area (2010)",40667,758,40667,758,53671,793,53671,793,29169,741,29169,741,Albany,GA Urbanized Area (2010)

In [17]:
median_2018_df['state'] = median_2018_df['state'].str.split(' ').str[1]

<ipython-input-17-c8c4d65c64fb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  median_2018_df['state'] = median_2018_df['state'].str.split(' ').str[1]

In [18]:
median_2018_df.head()

,location,Median household income (dollars),Monthly cost,Percent occupied income,Percent Occupied cost,Owner occupied income,Owner occupied cost,Percent owner occupied income,Percent owner occupied house cost,renter occupied income,renter occupied cost,percent renter occupied income,percent renter occupied monthly costs,city,state
0,"Aberdeen--Bel Air South--Bel Air North, MD Urb...",86876,1374,86876,1374,98033,1465,98033,1465,49084,1203,49084,1203,Aberdeen--Bel Air South--Bel Air North,MD
1,"Abilene, TX Urbanized Area (2010)",46387,891,46387,891,59643,733,59643,733,35904,941,35904,941,Abilene,TX
2,"Aguadilla--Isabela--San Sebastián, PR Urbanize...",17234,231,17234,231,23313,182,23313,182,10585,422,10585,422,Aguadilla--Isabela--San Sebastián,PR
3,"Akron, OH Urbanized Area (2010)",53755,836,53755,836,72001,896,72001,896,31025,782,31025,782,Akron,OH
4,"Albany, GA Urbanized Area (2010)",40667,758,40667,758,53671,793,53671,793,29169,741,29169,741,Albany,GA

In [19]:
median_2018_df.drop(columns = 'location', inplace=True)

C:\Users\eswan\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [22]:
median_2018_df.insert(0, 'State', median_2018_df['state'])

median_2018_df.insert(0, 'City', median_2018_df['city'])

In [24]:
median_2018_df.drop(columns = ['city', 'state'], inplace=True)

C:\Users\eswan\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [25]:
median_2018_df.head()

,City,State,Median household income (dollars),Monthly cost,Percent occupied income,Percent Occupied cost,Owner occupied income,Owner occupied cost,Percent owner occupied income,Percent owner occupied house cost,renter occupied income,renter occupied cost,percent renter occupied income,percent renter occupied monthly costs
0,Aberdeen--Bel Air South--Bel Air North,MD,86876,1374,86876,1374,98033,1465,98033,1465,49084,1203,49084,1203
1,Abilene,TX,46387,891,46387,891,59643,733,59643,733,35904,941,35904,941
2,Aguadilla--Isabela--San Sebastián,PR,17234,231,17234,231,23313,182,23313,182,10585,422,10585,422
3,Akron,OH,53755,836,53755,836,72001,896,72001,896,31025,782,31025,782
4,Albany,GA,40667,758,40667,758,53671,793,53671,793,29169,741,29169,741

In [26]:
median_2018_df['City'] = median_2018_df['City'].str.lower()
median_2018_df['State'] = median_2018_df['State'].str.lower()

<ipython-input-26-ee8d42426562>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  median_2018_df['City'] = median_2018_df['City'].str.lower()
<ipython-input-26-ee8d42426562>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  median_2018_df['State'] = median_2018_df['State'].str.lower()

In [29]:
median_2018_df.head(15)

,City,State,Median household income (dollars),Monthly cost,Percent occupied income,Percent Occupied cost,Owner occupied income,Owner occupied cost,Percent owner occupied income,Percent owner occupied house cost,renter occupied income,renter occupied cost,percent renter occupied income,percent renter occupied monthly costs
0,aberdeen--bel air south--bel air north,md,86876,1374,86876,1374,98033,1465,98033,1465,49084,1203,49084,1203
1,abilene,tx,46387,891,46387,891,59643,733,59643,733,35904,941,35904,941
2,aguadilla--isabela--san sebastián,pr,17234,231,17234,231,23313,182,23313,182,10585,422,10585,422
3,akron,oh,53755,836,53755,836,72001,896,72001,896,31025,782,31025,782
4,albany,ga,40667,758,40667,758,53671,793,53671,793,29169,741,29169,741
5,albany--schenectady,ny,66516,1084,66516,1084,91740,1255,91740,1255,41088,989,41088,989
6,albuquerque,nm,51382,950,51382,950,67949,1016,67949,1016,32963,886,32963,886
7,alexandria,la,46008,803,46008,803,65430,795,65430,795,27423,808,27423,808
8,allentown,pa--nj,64106,1150,64106,1150,81222,1231,81222,1231,39086,1065,39086,1065
9,alton,il--mo,50056,759,50056,759,65387,780,65387,780,28620,746,28620,746
10,altoona,pa,47401,699,47401,699,60015,685,60015,685,23882,729,23882,729
11,amarillo,tx,50287,850,50287,850,67961,886,67961,886,32119,824,32119,824
12,ames,ia,50733,926,50733,926,82408,1064,82408,1064,28433,887,28433,887
13,anchorage,ak,78607,1453,78607,1453,100457,1684,100457,1684,52659,1232,52659,1232
14,anderson,in,44101,750,44101,750,56107,726,56107,726,23750,776,23750,776

In [30]:
median_2018_df.to_csv('cleaned/income_2018')