In [1]:
import pandas as pd


#display all output form a cell not just the last (the options are 'all', 'none', 'last' and 'last_expr'.)

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
PIT = {}
for i in range(2014, 2021):
    PIT[str(i)] = pd.read_excel('../2007-2020-PIT-Estimates-by-CoC.xlsx', sheet_name = str(i))

In [3]:
#More demographic, gender information collected starting in 2015 and then in 2017

[(year,df.shape) for year, df in PIT.items()]

#rows without CoC Number

[df['CoC Number'].isna().sum() for df in PIT.values()]

[('2014', (391, 93)),
 ('2015', (394, 384)),
 ('2016', (393, 383)),
 ('2017', (395, 541)),
 ('2018', (395, 541)),
 ('2019', (394, 541)),
 ('2020', (395, 542))]

[2, 2, 2, 2, 2, 2, 2]

In [5]:
for year in PIT.keys():
    #stripping year from column names
    
    assert(len(PIT[year].columns) == len([col for col in PIT[year].columns.str.strip(', ' + year)]))
    PIT[year] = PIT[year].rename(columns = {col:col.replace(', '+ year, '') for col in PIT[year].columns })
    
    #dropping rows with no CoC Number
    #these are rows corresponding to the totals and a footer
    
    PIT[year] = PIT[year].dropna(subset = ['CoC Number'])
    
    #adding a year column
    
    PIT[year]['year'] = int(year)

In [6]:
[df['CoC Number'].isna().sum() for df in PIT.values()]

[0, 0, 0, 0, 0, 0, 0]

In [7]:
[[col for col in PIT['2020'].columns if col not in PIT[year].columns] for year in ['2017','2018','2019']]

[['CoC Category'], ['CoC Category'], ['CoC Category']]

In [8]:
# len([col for col in PIT['2020'].columns if col not in PIT['2016'].columns])
# for year in PIT.keys():
#     [col for col in PIT[year].columns if col not in PIT['2020'].columns]
# [col for col in PIT['2020'].columns if col not in PIT['2014'].columns]
# [col for col in PIT['2020'].columns if col not in PIT['2015'].columns]
# [col for col in PIT['2015'].columns if col not in PIT['2016'].columns]

In [9]:
#collated dataframe

data = pd.concat([PIT[year] for year in PIT.keys()])

In [10]:
data.shape
data.head()

(2743, 543)

,CoC Number,CoC Name,Overall Homeless,Overall Homeless - Under 18,Overall Homeless - Age 18 to 24,Overall Homeless - Over 24,Sheltered ES Homeless,Sheltered ES Homeless - Under 18,Sheltered ES Homeless - Age 18 to 24,Sheltered ES Homeless - Over 24,...,Unsheltered Homeless Parenting Youth (Under 25) - Gender Non-Conforming,Unsheltered Homeless Parenting Youth (Under 25) - Non-Hispanic/Non-Latino,Unsheltered Homeless Parenting Youth (Under 25) - Hispanic/Latino,Unsheltered Homeless Parenting Youth (Under 25) - White,Unsheltered Homeless Parenting Youth (Under 25) - Black or African American,Unsheltered Homeless Parenting Youth (Under 25) - Asian,Unsheltered Homeless Parenting Youth (Under 25) - American Indian or Alaska Native,Unsheltered Homeless Parenting Youth (Under 25) - Native Hawaiian or Other Pacific Islander,Unsheltered Homeless Parenting Youth (Under 25) - Multiple Races,CoC Category
0,AK-500,Anchorage CoC,1023.0,188.0,146.0,689.0,665.0,86.0,88.0,491.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AK-501,Alaska Balance of State CoC,761.0,209.0,56.0,496.0,474.0,119.0,30.0,325.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AL-500,"Birmingham/Jefferson, St. Clair, Shelby Counti...",1329.0,262.0,76.0,991.0,387.0,47.0,27.0,313.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AL-501,Mobile City & County/Baldwin County CoC,598.0,126.0,44.0,428.0,287.0,69.0,24.0,194.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AL-502,Florence/Northwest Alabama CoC,209.0,50.0,6.0,153.0,38.0,7.0,1.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
#Adding city and state to data

cities = pd.read_csv('./HUDNum_City_imputed - Sheet1.csv')

cities[cities['City'].isna()]

cities.shape
cities = cities.dropna(subset = ['City'])
cities.shape
cities['City'] = cities['City'].str.lower()
cities['CocState'] = cities['CocState'].str.lower()
cities = cities.rename(columns = {'CocState': 'State'})

,CoC Number,CoC Name,City,CocState
94,FL-605,West Palm Beach/Palm Beach County CoC,NaN,FL
105,GU-500,Guam CoC,NaN,GU
195,MI-518,Livingston County CoC,NaN,MI
215,MO-606,Missouri Balance of State CoC,NaN,MO
392,NaN,Total,NaN,NaN
393,NaN,NaN,NaN,NaN
394,a MO-604 covers territory in both Missouri and...,NaN,NaN,NaN

(395, 4)

(388, 4)

In [12]:
data = data.merge(cities, how = 'left', on = ['CoC Number', 'CoC Name'])

In [13]:
#data.to_csv('./2014-2021-PIT-esimates-cleanish.csv')

In [14]:
HIC = {}
for i in range(2014, 2021):
    HIC[str(i)] = pd.read_excel('../2007-2020-HIC-Counts-by-CoC.xlsx', header = 1, sheet_name = str(i))

In [15]:
year = '2020'

HIC[year].head()

#rows without CoC Number

[df['CoC Number'].isna().sum() for df in HIC.values()]

,CoC Number,"Total Year-Round Beds (ES, TH, SH)","Total Non-DV Year-Round Beds (ES, TH, SH)","Total HMIS Year-Round Beds (ES, TH, SH)","HMIS Participation Rate for Year-Round Beds (ES, TH, SH)",Total Year-Round Beds (ES),Total Year-Round Beds (TH),Total Year-Round Beds (SH),"Total Units for Households with Children (ES, TH, SH)","Total Beds for Households with Children (ES, TH, SH)",...,Total Year-Round Beds (OPH),Total Non-DV Year-Round Beds (OPH),Total HMIS Year-Round Beds (OPH),HMIS Participation Rate for Year-Round Beds (OPH),Total Units for Households with Children (OPH),Total Beds for Households with Children (OPH),Total Beds for Households without Children (OPH),Total Beds for Households with only Children (OPH),Dedicated Veteran Beds (OPH),Dedicated Youth Beds (OPH)
0,AK-500,920,843,666,0.7239,720,200,0,74,311,...,92,92,92,1,4,8,84,0,0,0
1,AK-501,965,504,456,0.4725,690,275,0,120,411,...,0,0,0,.,0,0,0,0,0,0
2,AL-500,888,767,612,0.6892,545,309,34,101,282,...,32,32,32,1,0,0,32,0,0,0
3,AL-501,396,321,321,0.8106,274,122,0,66,214,...,0,0,0,.,0,0,0,0,0,0
4,AL-502,285,95,0,0.0000,118,167,0,77,109,...,8,8,0,0,0,0,8,0,0,0

[0, 0, 1, 0, 0, 0, 0]

In [16]:
for year in HIC.keys():
        
    #dropping rows with no CoC Number
    
    HIC[year] = HIC[year].dropna(subset = ['CoC Number'])
    
    #adding a year column
    
    HIC[year]['year'] = int(year)

In [17]:
[df['CoC Number'].isna().sum() for df in HIC.values()]
HIC['2019']['year']

[0, 0, 0, 0, 0, 0, 0]

0      2019
1      2019
2      2019
3      2019
4      2019
       ...
393    2019
394    2019
395    2019
396    2019
397    2019
Name: year, Length: 398, dtype: int64

In [18]:
[[col for col in HIC['2020'].columns if col not in HIC[year].columns] for year in ['2017','2018','2019']]

[[], [], []]

In [19]:
# len([col for col in HIC['2020'].columns if col not in HIC['2016'].columns])
# for year in HIC.keys():
#     [col for col in HIC[year].columns if col not in HIC['2020'].columns]
# [col for col in HIC['2020'].columns if col not in HIC['2014'].columns]
# [col for col in HIC['2020'].columns if col not in HIC['2015'].columns]
# [col for col in HIC['2015'].columns if col not in HIC['2016'].columns]

In [20]:
#collated dataframe

data_2 = pd.concat([HIC[year] for year in HIC.keys()])

In [21]:
#Adding city and state to data_2

data_2 = data_2.merge(cities, how = 'left', on = ['CoC Number'])

In [22]:
data_2.head()

,CoC Number,"Total Year-Round Beds (ES, TH, SH)","Total Non-DV Year-Round Beds (ES, TH, SH)","Total HMIS Year-Round Beds (ES, TH, SH)","HMIS Participation Rate for Year-Round Beds (ES, TH, SH)",Total Year-Round Beds (ES),Total Year-Round Beds (TH),Total Year-Round Beds (SH),"Total Units for Households with Children (ES, TH, SH)","Total Beds for Households with Children (ES, TH, SH)",...,Dedicated Veteran Beds (RRH),Dedicated Youth Beds (RRH),Dedicated Veteran Beds (PSH),Dedicated Youth Beds (PSH),Dedicated Chronically Homeless Beds (PSH),Dedicated Veteran Beds (OPH),Dedicated Youth Beds (OPH),CoC Name,City,State
0,AK-500,988.0,912.0,648.0,0.6559,606.0,382.0,0.0,86.0,330.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Anchorage CoC,anchorage,ak
1,AK-501,826.0,470.0,383.0,0.4637,583.0,243.0,0.0,100.0,316.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Alaska Balance of State CoC,anchorage,ak
2,AL-500,1065.0,978.0,823.0,0.7728,400.0,631.0,34.0,127.0,409.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Birmingham/Jefferson, St. Clair, Shelby Counti...",birmingham,al
3,AL-501,537.0,456.0,348.0,0.648,344.0,193.0,0.0,75.0,213.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mobile City & County/Baldwin County CoC,mobile,al
4,AL-502,266.0,188.0,34.0,0.1278,82.0,184.0,0.0,42.0,143.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Florence/Northwest Alabama CoC,florence,al

In [23]:
# data_2.to_csv('./2014-2021-HIC-cleanish.csv')